.jumbotron{
	width: 50%;
	
}


.gem-image {
	height: 200px;
	width: 200px;
	
}

.list-group{
	width: 50%;
	font-size: 20px;
}

#number-to-guess{
	font-size: 75px;
	font-weight: bold;
	margin-left: 50px;
	color: blue;
}